* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 20px auto;
    
}

header {
    background-color: #E479E6;
    height: 100px;
    width: 100%;
}

.jumbo {
    background-color: #E1D67A;
    height: 400px;
    width: 100%;
    margin: 20px 0;
}

main {
    background-color: #379BF6;
    height: 500px;
    width: 100%;
    margin: 0 0 10px;
}

footer {
    background-color: #8802F7;
    height: 50px;
    width: 100%;
}