* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
}

.container {
    width: 80%;
    margin: 20px auto;
    
}

header {
    background-color: #E479E6;
    height: 100px;
    width: 100%;
}

.jumbo {
    background-color: #E1D67A;
    height: 400px;
    width: 100%;
    margin: 20px 0;
}

main {
    background-color: #379BF6;
    height: 500px;
    width: 100%;
    margin: 0 0 10px;
}

main > div {
    background-color: #ABCFE7;
}

.main-header {
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
}

.col-left, .col-right {
    width: 20%;
    height: calc(100% - 100px);
}

.main-content {
    height: calc(100% - 100px);
    width: calc(60% - 20px * 2);
    margin: 0 20px;
}




footer {
    background-color: #8802F7;
    height: 50px;
    width: 100%;
}