/* setting base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
}

/* layout */

header {
    height: 50px;
    width: 100%;
    background-color: violet;
}


/* main */

main > div {
    height: 900px;
}

.col-left, .col-right {
    width: 15%;
    background-color: blue;
}

.main-content {
    width: 70%;
}

/* content */

.main-header, .main-footer {
    height: 150px;
    width: 100%;
}

.main-header {
    background-color: cadetblue;
}

.main-footer {
    background-color: darkseagreen;
}


.content {
    height: calc(100% - 300px - 20px);
    width: 100%;
    margin: 10px 0;
    background-color: yellow;
    
}

.highlight:hover{
    border: 2px solid black;

}
